.about__container {
  @include container;

  padding-top: 73px;
  margin-bottom: 133px;
}

.about__title {
  @include sectionHeaderMobile;
  @include resetSpaces;

  width: 320px;
  min-height: 103px;
  padding-left: 26px;
  padding-top: 25px;
  margin-bottom: 35px;

  background: url("../images/dest/about/title/mobile.png") no-repeat;
  background-size: 320px 103px;
  background-position: top -5px left 0px;
}

.about__list {
  @include resetList;

  position: relative;

  width: $mobile-content-width;

  color: $text-color-medium;

  &:before,
  &:after {
    font-family: "Core-35-Light", "Arial", sans-serif;
    font-size: 24px;
    color: $text-color-colored;
  }

  &:before {
    @include pseudo(auto, auto, "Start");

    top: -99px;
    left: 126px;
  }

  &:after {
    @include pseudo(auto, auto, "Finish");

    bottom: -112px;
    left: 116px;
  }
}

.about__item {
  position: relative;

  width: $mobile-content-width;
  min-height: 366px;
  margin-bottom: 53px;
}

.about__subtitle {
  @include resetSpaces;

  width: $mobile-content-width;
  margin-bottom: 15px;

  font-family: "Core-65-Bold", "Arial", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
}

.about__description {
  @include resetSpaces;

  width: $mobile-content-width;

  font-family: "Core-45-Regular", "Arial", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}

.about__item:nth-child(1) {
  padding-top: 256px;

  &:before {
    @include pseudo(290px, 237px, "");

    top: 3px;

    background: url("../images/dest/about/item-1/before-mobile.png") no-repeat;
  }

  &:after {
    @include pseudo(21px, 21px, "");

    top: -55px;
    left: 142px;

    background: url("../images/dest/about/pseudo-mobile.png") no-repeat;
  }
}

.about__item:nth-child(2) {
  padding-top: 256px;

  &:before {
    @include pseudo(290px, 243px, "");

    top: -5px;

    background: url("../images/dest/about/item-2/before-mobile.png") no-repeat;
  }

  .about__description {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.about__item:nth-child(3) {
  min-height: 521px;
  padding-top: 339px;

  &:before {
    @include pseudo(314px, 333px, "");

    top: -14px;
    left: -15px;

    background: url("../images/dest/about/item-3/before-mobile.png") no-repeat;
  }

  .about__description {
    padding-left: 4px;
    padding-right: 2px;
  }
}

.about__item:nth-child(4) {
  min-height: 387px;
  margin-bottom: 0;
  padding-top: 253px;

  &:before {
    @include pseudo(294px, 241px, "");

    top: -5px;
    left: 4px;

    background: url("../images/dest/about/item-4/before-mobile.png") no-repeat;
  }

  &:after {
    @include pseudo(21px, 21px, "");

    bottom: -73px;
    left: 135px;

    background: url("../images/dest/about/pseudo-mobile.png") no-repeat;
  }
}

/* TABLET */

@media (min-width: $tablet-width) {
  .about__container {
    margin-bottom: 63px;

    background: url("../images/dest/about/background/tablet.png") no-repeat;
    background-size: 493px 1041px;
    background-position: top 57px left 115px;
  }

  .about__title {
    @include sectionHeaderTablet;

    width: $tablet-content-width;
    min-height: 134px;
    padding-left: 177px;
    padding-top: 39px;
    margin: 0 auto;

    background: url("../images/dest/about/title/tablet.png") no-repeat;
    background-size: 709px 134px;
    background-position: top 0 left 5px;
  }

  .about__list {
    width: $tablet-content-width;
    margin-bottom: 0;

    &:before {
      top: 21px;
      left: 583px;
    }

    &:after {
      bottom: 181px;
      left: 196px;
    }
  }

  .about__subtitle,
  .about__description {
    width: $tablet-content-width;

    text-align: left;
  }

  .about__item {
    width: $tablet-content-width;
    min-height: 290px;
    margin-bottom: 0;
  }

  .about__item:nth-child(1) {
    padding-top: 106px;

    &:before {
      top: 44px;
      left: -5px;

      background: url("../images/dest/about/item-1/before-tablet.png") no-repeat;
    }

    &:after {
      top: 65px;
      left: 600px;
    }

    .about__subtitle,
    .about__description {
      padding-left: 314px;
      padding-right: 90px;
    }
  }

  .about__item:nth-child(2) {
    min-height: 255px;
    padding-top: 81px;

    &:before {
      top: 16px;
      right: -8px;
    }

    .about__subtitle,
    .about__description {
      padding-left: 124px;
      padding-right: 320px;
    }
  }

  .about__item:nth-child(3) {
    min-height: 315px;
    padding-top: 59px;

    &:before {
      top: -1px;
      left: -17px;
    }

    .about__subtitle,
    .about__description {
      padding-left: 313px;
      padding-right: 94px;
    }

    .about__nowrap {
      white-space: nowrap;
    }
  }

  .about__item:nth-child(4) {
    min-height: 400px;
    padding-top: 264px;

    &:before {
      @include pseudo(343px, 280px, "");

      top: -21px;
      left: 385px;

      background: url("../images/dest/about/item-4/before-tablet.png") no-repeat;
    }

    &:after {
      bottom: 220px;
      left: 216px;
    }

    .about__subtitle,
    .about__description {
      padding-left: 437px;
    }
  }
}

/* DESKTOP */

@media (min-width: $desktop-width) {
  .about__container {
    padding-top: 0;
    margin-bottom: 99px;

    background: url("../images/dest/about/background/desktop.png") no-repeat;
    background-size: 686px 1041px;
    background-position: top 39px left 139px;
  }

  .about__title {
    @include sectionHeaderDesktop;
    @include resetSpaces;

    width: $desktop-width;
    min-height: 190px;
    padding-top: 56px;
    margin: 0 auto;

    text-align: center;

    background: url("../images/dest/about/title/desktop.png") no-repeat;
    background-size: 981px 186px;
    background-position: top -5px left 93px;
  }

  .about__list {
    width: $desktop-content-width;

    &:before {
      top: 76px;
      left: 807px;
    }

    &:after {
      bottom: 86px;
      left: 222px;
    }
  }

  .about__item {
    width: $desktop-content-width;
    min-height: 350px;
  }

  .about__subtitle,
  .about__description {
    width: $desktop-content-width;
  }

  .about__item:nth-child(1) {
    padding-top: 178px;

    &:before {
      @include pseudo(366px, 300px, "");

      top: 67px;
      left: 9px;

      background: url("../images/dest/about/item-1/before-desktop.png") no-repeat;
      background-size: 366px 300px;
    }

    &:after {
      top: 120px;
      left: 823px;
    }

    .about__subtitle,
    .about__description {
      padding-left: 399px;
      padding-right: 420px;
    }
  }

  .about__item:nth-child(2) {
    padding-top: 83px;

    &:before {
      @include pseudo(373px, 312px, "");

      top: -20px;
      left: 447px;

      background: url("../images/dest/about/item-2/before-desktop.png") no-repeat;
      background-size: 373px 312px;
    }

    .about__subtitle,
    .about__description {
      padding-left: 841px;
      padding-right: 30px;
    }
  }

  .about__item:nth-child(3) {
    padding-top: 54px;

    &:before {
      @include pseudo(374px, 385px, "");

      top: -27px;
      left: -51px;

      background: url("../images/dest/about/item-3/before-desktop.png") no-repeat;
      background-size: 374px 385px;
    }

    .about__subtitle,
    .about__description {
      padding-left: 339px;
      padding-right: 489px;
    }
  }

  .about__item:nth-child(4) {
    min-height: 300px;
    padding-top: 19px;

    &:before {
      @include pseudo(393px, 321px, "");

      top: -45px;
      left: 435px;

      background: url("../images/dest/about/item-4/before-desktop.png") no-repeat;
      background-size: 393px 321px;
    }

    &:after {
      bottom: 125px;
      left: 242px;
    }

    .about__subtitle,
    .about__description {
      padding-left: 852px;
      padding-right: 30px;
    }
  }
}
