.about__container {
  @include container;
  @include column;

  padding-top: 73px;
  margin-bottom: 48px;
}

.about__title {
  @include sectionHeaderMobile;
  @include resetSpaces;

  width: 320px;
  min-height: 103px;
  padding-left: 26px;
  padding-top: 25px;
  margin-bottom: 35px;

  background: url("../images/dest/about/title/mobile.png") no-repeat;
  background-size: 320px 103px;
  background-position: top -5px left 0px;
}

.about__list {
  @include column;
  @include resetList;

  position: relative;
  margin-bottom: 85px;

  color: $text-color-medium;

  &:before {
    @include pseudo(auto, auto, "Start");

    top: -99px;
    left: 126px;

    font-family: "Core-35-Light", "Arial", sans-serif;
    font-size: 24px;
    color: $text-color-colored;
  }

  &:after {
    @include pseudo(auto, auto, "Finish");

    bottom: -112px;

    font-family: "Core-35-Light", "Arial", sans-serif;
    font-size: 24px;
    color: $text-color-colored;
  }
}

.about__item {
  @include column;

  position: relative;

  width: 100%;
  min-height: 366px;
  margin-bottom: 53px;
}

.about__item:nth-child(1) {
  padding-top: 256px;

  &:before {
    @include pseudo(290px, 237px, "");

    top: 3px;

    background: url("../images/dest/about/item-1/before-mobile.png") no-repeat;
  }

  &:after {
    @include pseudo(21px, 21px, "");

    top: -55px;
    left: 142px;

    background: url("../images/dest/about/pseudo-mobile.png") no-repeat;
  }
}

.about__item:nth-child(2) {
  padding-top: 256px;

  &:before {
    @include pseudo(290px, 243px, "");
    top: -5px;

    background: url("../images/dest/about/item-2/before-mobile.png") no-repeat;
  }

  .about__description {
    width: 270px;
  }
}

.about__item:nth-child(3) {
  min-height: 521px;
  padding-top: 339px;

  &:before {
    @include pseudo(314px, 333px, "");

    top: -14px;
    left: -15px;

    background: url("../images/dest/about/item-3/before-mobile.png") no-repeat;
  }

  .about__description {
    width: 286px;
    padding-left: 3px;
  }
}

.about__item:nth-child(4) {
  min-height: 387px;
  margin-bottom: 0;
  padding-top: 253px;

  &:before {
    @include pseudo(294px, 241px, "");

    top: -5px;
    left: 4px;

    background: url("../images/dest/about/item-4/before-mobile.png") no-repeat;
  }

  &:after {
    @include pseudo(21px, 21px, "");

    bottom: -73px;
    left: 135px;

    background: url("../images/dest/about/pseudo-mobile.png") no-repeat;
  }
}

.about__subtitle {
  @include resetSpaces;

  margin-bottom: 15px;

  font-family: "Core-65-Bold", "Arial", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

.about__description {
  @include resetSpaces;

  font-family: "Core-45-Regular", "Arial", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}

/* TABLET */

@media (min-width: $tablet-width) {
  .about__container {
    margin-bottom: 63px;
  }

  .about__title {
    @include sectionHeaderTablet;
    width: $tablet-content-width;
    min-height: 134px;
    padding-left: 177px;
    padding-top: 39px;
    margin-bottom: 0;

    background: url("../images/dest/about/title/tablet.png") no-repeat;
    background-size: 709px 134px;
    background-position: top 0 left 5px;
  }

  .about__list {
    margin-bottom: 0;

    &:before {
      top: 21px;
      left: 583px;
    }

    &:after {
      bottom: 181px;
      left: 196px;
    }
  }

  .about__description {
    text-align: left;
  }

  .about__item {
    min-height: 290px;
    margin-bottom: 0;
  }

  .about__item:nth-child(1) {
    padding-left: 314px;
    padding-right: 90px;
    padding-top: 106px;

    &:before {
      top: 44px;
      left: -5px;

      background: url("../images/dest/about/item-1/before-tablet.png") no-repeat;
    }

    &:after {
      top: 65px;
      left: 600px;
    }

    .about__subtitle {
      width: 100%;
    }
  }

  .about__item:nth-child(2) {
    min-height: 255px;
    padding-left: 99px;
    padding-right: 300px;
    padding-top: 81px;

    &:before {
      top: 16px;
      right: -8px;
    }

    .about__subtitle {
      width: 270px;
    }
  }

  .about__item:nth-child(3) {
    min-height: 315px;
    padding-left: 313px;
    padding-right: 94px;
    padding-top: 59px;

    &:before {
      top: -1px;
      left: -17px;
    }

    .about__subtitle {
      width: 100%;
    }

    .about__description {
      width: auto;
      padding-left: 0;
    }

    .about__nowrap {
      white-space: nowrap;
    }
  }

  .about__item:nth-child(4) {
    min-height: 400px;
    padding-left: 437px;
    padding-top: 264px;

    &:before {
      @include pseudo(343px, 280px, "");
      top: -21px;
      left: 385px;

      background: url("../images/dest/about/item-4/before-tablet.png") no-repeat;
    }

    &:after {
      bottom: 220px;
      left: 216px;
    }

    .about__subtitle {
      width: 100%;
    }
  }
}
