.app,
.app_header,
.app_main,
.app_footer,
.app_section {
  width: 100%;
  min-width: 320px;
}

.app_container {
  width: $mobile-content-width;
  margin: 0 auto;
}


@media (min-width: $tablet-width) {
  .app_container {
    width: $tablet-content-width;
  }
}

@media (min-width: $desktop-width) {
  .app_container {
    width: $desktop-content-width;
  }
}
