.app,
.app_section,
.app_block {
  width: 100%;
}

.app_container {
  width: $mobile-width;
  margin: 0 auto;
}

.app_content {
  width: $mobile-content-width;
  margin: 0 auto;
}


@media (min-width: $tablet-width) {
  .app_container {
    width: $tablet-width;
  }

  .app_content {
    width: $tablet-content-width;
  }
}

@media (min-width: $desktop-width) {
  .app_container {
    width: $desktop-width;
  }

  .app_content {
    width: $desktop-content-width;
  }
}
