.art-marked-list {
  @include resetList;

  margin-bottom: 81px;
}

.art-marked-list__title {
  @include resetSpaces;

  font-family: "Core-65-Bold", "Arial", sans-serif;
  font-size: 20px;
  letter-spacing: 1.2px;
  line-height: 24px;
  text-align: center;
  color: $text-color-medium;
}

.art-marked-list__description {
  @include resetSpaces;

  font-family: "Core-45-Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $text-color-medium;
}

.art-marked-list__tablet {
  display: none;
}

.art-marked-list__item:nth-child(1) {
  position: relative;

  min-height: 250px;
  padding-top: 136px;
  margin-bottom: 45px;

  .art-marked-list__title {
    margin-left: 2px;
    margin-bottom: 14px;
  }

  &:after {
    @include pseudo(110px, 94px, "");

    top: 16px;
    left: 85px;

    background: url("../images/dest/art-marked-list/01/mobile.png") no-repeat;
    background-position: center;
  }
}

.art-marked-list__item:nth-child(2) {
  position: relative;

  min-height: 250px;
  padding-top: 116px;
  margin-bottom: 53px;

  .art-marked-list__title {
    margin-left: 2px;
    margin-bottom: 14px;

    letter-spacing: 1px;
    white-space: nowrap;
  }

  &:after {
    @include pseudo(118px, 92px, "");

    top: -2px;
    left: 87px;

    background: url("../images/dest/art-marked-list/02/mobile.png") no-repeat;
    background-position: center;
  }
}

.art-marked-list__item:nth-child(3) {
  position: relative;

  min-height: 250px;
  padding-top: 118px;
  margin-bottom: 51px;

  .art-marked-list__title {
    margin-left: 2px;
    margin-bottom: 14px;

    letter-spacing: 1px;
  }

  &:after {
    @include pseudo(121px, 92px, "");

    top: -1px;
    left: 82px;

    background: url("../images/dest/art-marked-list/03/mobile.png") no-repeat;
    background-position: center;
  }
}

.art-marked-list__item:nth-child(4) {
  position: relative;

  min-height: 228px;
  padding-top: 118px;
  margin-bottom: 55px;

  .art-marked-list__title {
    margin-left: 2px;
    margin-bottom: 14px;

    letter-spacing: 1px;
  }

  &:after {
    @include pseudo(111px, 96px, "");

    top: -1px;
    left: 96px;

    background: url("../images/dest/art-marked-list/04/mobile.png") no-repeat;
    background-position: center;
  }
}

.art-marked-list__item:nth-child(5) {
  position: relative;

  min-height: 210px;
  padding-top: 123px;

  .art-marked-list__title {
    margin-left: 2px;
    margin-bottom: 14px;

    letter-spacing: 1px;
  }

  &:after {
    @include pseudo(115px, 96px, "");

    top: 0;
    left: 87px;

    background: url("../images/dest/art-marked-list/05/mobile.png") no-repeat;
    background-position: center;
  }
}

/* TABLET */

@media (min-width: $tablet-width) {
  .art-marked-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .art-marked-list__mobile {
    display: none;
  }

  .art-marked-list__tablet {
    display: inline;
    white-space: nowrap;
  }

  .art-marked-list__item:nth-child(1),
  .art-marked-list__item:nth-child(2),
  .art-marked-list__item:nth-child(3),
  .art-marked-list__item:nth-child(4),
  .art-marked-list__item:nth-child(5) {
    width: 360px;
    min-height: 295px;
    padding-top: 120px;
    padding-right: 44px;
    margin-bottom: 0;

    .art-marked-list__title,
    .art-marked-list__description {
      @include resetSpaces;

      text-align: left;
    }

    .art-marked-list__title {
      margin-bottom: 14px;
    }

    &:after {
      top: 0;
      left: 1px;
    }
  }

  .art-marked-list__item:nth-child(1) {
    padding-right: 45px;
  }

  .art-marked-list__item:nth-child(2) {
    padding-left: 14.5px;
    padding-top: 118px;

    &:after {
      top: 0;
      left: 15px;
    }
  }

  .art-marked-list__item:nth-child(3) {
    padding-top: 119px;
  }

  .art-marked-list__item:nth-child(4) {
    padding-left: 14.5px;
    padding-top: 118px;

    &:after {
      top: -1px;
      left: 15px;
    }
  }

  .art-marked-list__item:last-child {
    min-height: 225px;
    margin-left: 137px;
    padding-top: 124px;

    &:after {
      top: 1px;
      left: 0;
    }
  }
}

/* DESKTOP */

@media (min-width: $desktop-width) {
  .art-marked-list {
    @include resetSpaces;

    display: grid;
    grid-template-columns: 570px 570px;
    grid-template-rows: 335px 220px 150px;

    min-height: 705px;

    border-bottom: 1px solid transparent;
    margin-bottom: 81px;
  }

  .art-marked-list__item:nth-child(1) {
    @include resetSpaces;

    grid-column: 1/2;
    grid-row: 1/2;

    width: 570px;
    min-height: 335px;
    padding-left: 208px;
    padding-top: 86px;
    padding-right: 50px;

    &:after {
      @include pseudo(160px, 138px, "");

      top: 83px;
      left: 0px;

      background: url("../images/dest/art-marked-list/01/desktop.png") no-repeat;
      background-size: 160px 138px;
      background-position: center;
    }
  }

  .art-marked-list__item:nth-child(2) {
    @include resetSpaces;

    grid-column: 2/3;
    grid-row: 1/2;

    width: 570px;
    min-height: 335px;
    padding-left: 226px;
    padding-top: 196px;
    padding-right: 40px;

    &:after {
      @include pseudo(174px, 135px, "");

      top: 196px;
      left: 13px;

      background: url("../images/dest/art-marked-list/02/desktop.png") no-repeat;
      background-size: 174px 135px;
      background-position: center;
    }
  }

  .art-marked-list__item:nth-child(3) {
    @include resetSpaces;

    grid-column: 1/2;
    grid-row: 2/3;

    width: 570px;
    min-height: 220px;
    padding-left: 208px;
    padding-top: 1px;
    padding-right: 45px;

    &:after {
      @include pseudo(179px, 135px, "");

      top: 0px;
      left: -8px;

      background: url("../images/dest/art-marked-list/03/desktop.png") no-repeat;
      background-size: 179px 135px;
      background-position: center;
    }
  }

  .art-marked-list__item:nth-child(4) {
    @include resetSpaces;

    grid-column: 2/3;
    grid-row: 2/4;

    width: 570px;
    min-height: 370px;
    padding-left: 226px;
    padding-top: 111px;
    padding-right: 40px;

    &:after {
      @include pseudo(163px, 140px, "");

      top: 106px;
      left: 16px;

      background: url("../images/dest/art-marked-list/04/desktop.png") no-repeat;
      background-size: 163px 140px;
      background-position: center;
    }
  }

  .art-marked-list__item:nth-child(5) {
    @include resetSpaces;

    grid-column: 1/2;
    grid-row: 3/4;

    width: 570px;
    min-height: 150px;
    padding-left: 208px;
    padding-top: 21px;

    &:after {
      @include pseudo(170px, 142px, "");

      top: 13px;
      left: -3px;

      background: url("../images/dest/art-marked-list/05/desktop.png") no-repeat;
      background-size: 170px 142px;
      background-position: center;
    }
  }
}
