.experience {
  margin-bottom: 57px;
}

.experience__container {
  @include container;
  @include column;
}

.experience__title--main {
  @include resetSpaces;
  @include sectionHeaderMobile;
  width: 320px;
  min-height: 70px;
  padding-left: 10px;
  margin-bottom: 37px;

  background: url("../images/dest/experience/title/mobile.png") no-repeat;
  background-size: 320px 70px;
  background-position: top 14px left 0px;

  line-height: 43px;
  text-align: center;
}

.experience__title--add {
  @include resetSpaces;
  @include sectionHeaderMobile;
  padding-left: 15px;
  margin-bottom: 39px;

  font-size: 30px;
  letter-spacing: 1.5px;
  line-height: 36px;
  text-align: center;

  .experience__nowrap {
    white-space: nowrap;
  }

  .experience__spacing {
    display: inline-block;
    margin-left: -6px;
  }

  .experience__nowrap:nth-of-type(3) {
    display: inline-block;
    margin-left: -7px;
  }
}

/* TABLET */

@media (min-width: $tablet-width) {
  .experience__title--main {
    @include sectionHeaderTablet;

    width: $tablet-content-width;
    min-height: 120px;
    padding-left: 4px;
    padding-top: 39px;
    margin: 0 auto;
    margin-bottom: 42px;

    background: url("../images/dest/experience/title/tablet.png") no-repeat;
    background-size: 543px 84px;
    background-position: top 15px left 88px;
  }

  .experience__title--add {
    padding-left: 4px;
    margin-bottom: 100px;

    font-size: 36px;
    line-height: 43px;
    letter-spacing: 1.8px;
    text-align: left;

    .experience__nowrap {
      white-space: normal;
    }

    .experience__spacing {
      margin-left: 0;
    }

    .experience__nowrap:nth-of-type(3) {
      margin-left: 87px;
    }
  }

}
