.experience__container {
  @include container;
  @include column;
  padding-top: 27px;
}

.experience__title--main {
  @include resetSpaces;
  @include sectionHeaderMobile;
  padding-left: 8px;
  margin-bottom: 36px;

  line-height: 43px;
  text-align: center;
}

.experience__title--add {
  @include resetSpaces;
  @include sectionHeaderMobile;
  padding-left: 15px;

  font-size: 30px;
  letter-spacing: 1.5px;
  line-height: 36px;
  text-align: center;

  .experience__nowrap {
    white-space: nowrap;
  }

  .experience__nowrap:nth-of-type(3) {
    display: inline-block;
    margin-left: -7px;
  }

  .experience__spacing {
    display: inline-block;
    margin-left: -6px;
  }
}
