.footer__container {
  @include container;

  position: relative;

  display: flex;
  flex-direction: column-reverse;

  margin: 0 auto;
  margin-bottom: 55px;
}

.footer__logo {
  width: 156px;
  height: 56px;
  margin-left: 63px;
}

.footer__copyright {
  position: absolute;

  bottom: 1px;
  left: 124.5px;

  width: 60px;
  height: 14px;

  font-family: "Core-55-Medium", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $text-color-footer;
  text-align: center;
}

.footer__conf {
  @include resetSpaces;

  position: relative;

  height: 69px;
  padding-left: 42px;

  font-family: "Core-45-Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $text-color-footer;
  text-decoration: none;

  &:after {
    @include pseudo(196px, 1px, "");

    bottom: 50px;
    left: 41px;

    background: url("../images/dest/footer/underline/mobile.png") no-repeat;
    background-position: center;
  }
}

.footer__conf:hover {
  color: $text-color-colored;
}

.footer__conf:focus {
  outline: none;
}

.footer__conf:focus-visible {
  outline: dotted $text-color-colored;
}

.footer__conf:hover:focus-visible {
  outline: none;
}

.footer__tel {
  height: 71px;
  padding-right: 1px;

  font-family: "Core-55-Medium", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: $text-color-footer;
  text-align: center;
  text-decoration: none;
}

.footer__tel:hover {
  color: $text-color-colored;
}

.footer__tel:focus {
  outline: none;
}

.footer__tel:focus-visible {
  outline: dotted $text-color-colored;
}

.footer__tel:hover:focus-visible {
  outline: none;
}

/* TABLET */

@media (min-width: $tablet-width) {
  .footer__container {
    flex-direction: row;
    justify-content: flex-start;

    height: 144px;
    margin-bottom: 0;
  }

  .footer__logo {
    @include resetSpaces;

    margin-top: 37px;
    margin-left: -1.5px;
  }

  .footer__copyright {
    @include resetSpaces;

    left: 59px;
    bottom: 48px;
  }

  .footer__conf {
    @include resetSpaces;

    width: 210px;
    height: 40px;
    padding-top: 10px;
    margin-left: 92.5px;
    margin-top: 46px;

    text-align: center;

    &:after {
      bottom: 11px;
      left: 7px;
    }
  }

  .footer__tel {
    @include resetSpaces;

    width: 154px;
    height: 40px;
    padding-top: 10px;
    margin-left: 106.5px;
    margin-top: 44.5px;

    text-align: center;
  }
}

/* DESKTOP */

@media (min-width: $desktop-width) {
  .footer__container {
    @include resetSpaces;

    width: $desktop-width;
    height: 108px;
    margin: 0 auto;
  }

  .footer__logo {
    margin-top: 15px;
  }

  .footer__copyright {
    left: 204px;
    bottom: 59px;
  }

  .footer__conf {
    margin-left: 350px;
    margin-top: 24px;
  }

  .footer__tel {
    margin-left: 286px;
    margin-top: 23px;
  }
}
