.goals {
  width: $mobile-width;
  min-height: 1388px;
  margin-bottom: 26px;

  background: url("../images/dest/goals/background/mobile.jpg") no-repeat #353b42;
  background-size: 320px 1388px;
  background-position: top;
}

.goals__container {
  @include container;
  @include column;

  padding-top: 199px;
}

.goals__title {
  @include resetSpaces;

  font-family: "Core-95-Black", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 1.8px;
  line-height: 43.5px;
  text-transform: uppercase;
  color: $text-color-light;
}

.goals__subtitle {
  @include resetSpaces;

  font-family: "Core-65-Bold", "Arial", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 20px;
  text-transform: uppercase;
  color: $text-color-light;
}

.goals__description {
  @include resetSpaces;

  font-family: "Core-45-Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $text-color-light;
}

.goals__title--main {
  width: 216px;
  margin-left: 13.5px;
  margin-bottom: 100px;
}

.goals__list--main {
  @include resetList;

  padding-top: 12px;
  padding-left: 23px;
  padding-right: 23px;
  margin-bottom: 103px;

  .goals__item:nth-child(1) {
    position: relative;
    margin-bottom: 45px;

    &:before {
      @include pseudo(auto, auto, "01");

      top: -14px;
      left: -2px;

      font-family: "Besom", "Arial", sans-serif;
      font-size: 45.92px;
      line-height: 45.92px;
      letter-spacing: 2.3px;
      color: $text-color-light;
      opacity: 0.15;
    }

    .goals__subtitle {
      padding-left: 53px;
      margin-bottom: 14px;
    }
  }

  .goals__item:nth-child(2) {
    position: relative;

    &:before {
      @include pseudo(auto, auto, "02");
      top: -14px;
      left: 1px;

      font-family: "Besom", "Arial", sans-serif;
      font-size: 45.92px;
      line-height: 45.92px;
      letter-spacing: 2.3px;
      color: $text-color-light;
      opacity: 0.15;
    }

    .goals__subtitle {
      padding-left: 56px;
      margin-bottom: 15px;
    }

    .goals__description {
      padding-left: 2px;
    }
  }
}

.goals__title--exept {
  position: relative;
  width: 100%;
  padding-left: 4px;

  &:after {
    @include pseudo(106px, 116px, "");

    top: -14px;
    right: -5px;

    background: url("../images/dest/goals/mark/mobile.png") no-repeat;
    background-position: center;
  }
}

.goals__list--exept {
  @include resetList;

  padding-top: 45px;

  .goals__item:nth-child(1) {
    margin-bottom: 39px;

    .goals__subtitle {
      padding-left: 2px;
      margin-bottom: 16px;
    }

    .goals__description {
      padding-left: 2px;
    }
  }

  .goals__item:nth-child(2) {
    .goals__subtitle {
      padding-left: 4px;
      margin-bottom: 16px;
    }

    .goals__description {
      padding-left: 5px;
    }
  }
}

/* TABLET */

@media (min-width: $tablet-width) {
  .goals {
    width: $tablet-full-width;
    min-height: 985px;
    margin-bottom: 41px;

    background: url("../images/dest/goals/background/tablet.jpg") no-repeat #353b42;
    background-size: 765px 985px;
  }

  .goals__container {
    display: grid;
    grid-template-columns: 125px 125px 125px 345px;
    grid-template-rows: 350px 350px;

    padding-top: 180px;
  }

  .goals__title--main {
    grid-row: 1/2;
    grid-column: 1/4;

    margin-left: 33px;
    margin-top: -14px;
    margin-bottom: 0;
  }

  .goals__list--main {
    grid-row: 1/2;
    grid-column: 3/5;

    width: 450px;
    min-height: 350.5px;
    margin-bottom: 0;
    padding-left: 59px;
    padding-top: 51px;
    padding-right: 10px;

    .goals__item:nth-child(1) {
      margin-bottom: 47px;

      &:before {
        left: -3px;
      }
    }
  }

  .goals__title--exept {
    grid-row: 2/3;
    grid-column: 2/4;

    padding-left: 29px;
    padding-bottom: 121px;

    &:after {
      @include pseudo(130px, 143px, "");

      top: -26px;
      left: -142px;

      background: url("../images/dest/goals/mark/tablet.png") no-repeat;
    }
  }

  .goals__list--exept {
    grid-row: 2/3;
    grid-column: 4/5;

    min-height: 300px;
    padding-left: 45px;
    padding-top: 53px;
  }
}

/* DESKTOP */

@media (min-width: $desktop-width) {
  .goals {
    width: 100%;
    min-height: 929px;
    margin-bottom: 0;

    background: url("../images/dest/goals/background/desktop.jpg") no-repeat #353b42;
    background-size: 1920px 929px;
    background-position: top center;
  }

  .goals__container {
    grid-template-columns: 390px 390px 360px;
  }

  .goals__title--main {
    @include resetSpaces;

    grid-row: 1/2;
    grid-column: 1/2;

    width: 390px;
    padding-left: 73px;
    padding-top: 1px;

    .goals__hyphen {
      display: none;
    }
  }

  .goals__list--main {
    @include resetSpaces;

    display: flex;

    grid-row: 1/2;
    grid-column: 2/4;

    width: 750px;
    padding-top: 151px;

    .goals__item:nth-child(1) {
      width: 390px;
      margin-bottom: 0;

      &:before {
        left: 89px;
        top: -77px;

        font-size: 72px;
        line-height: 72px;
        letter-spacing: 3.6px;
      }

      .goals__subtitle {
        padding-left: 93px;
        margin-bottom: 16px;
      }

      .goals__description {
        padding-left: 93px;
        padding-right: 70px;
      }
    }

    .goals__item:nth-child(2) {
      width: 360px;

      &:before {
        left: 1px;
        top: -77px;

        font-size: 72px;
        line-height: 72px;
        letter-spacing: 3.6px;
      }

      .goals__subtitle {
        padding-left: 6px;
        margin-bottom: 16px;
      }

      .goals__description {
        padding-left: 6px;
        padding-right: 45px;
      }
    }
  }

  .goals__title--exept {
    @include resetSpaces;

    grid-column: 1/2;

    padding-left: 157px;
    padding-bottom: 54px;

    &:after {
      top: -26px;
      left: -14px;
    }
  }

  .goals__list--exept {
    @include resetSpaces;

    display: flex;

    grid-column: 2/4;

    height: 350px;

    .goals__item {
      height: 350px;
      padding-top: 111px;
    }

    .goals__item:nth-child(1) {
      width: 390px;

      .goals__subtitle {
        padding-left: 35px;
      }
      .goals__description {
        padding-left: 36px;
      }
    }

    .goals__item:nth-child(2) {
      width: 360px;

      .goals__subtitle {
        padding-left: 82px;
      }
      .goals__description {
        padding-left: 83px;
      }
    }
  }

  .goals__desktop-nowrap {
    white-space: nowrap;
  }
}
