.header {
  @include column;
  justify-content: space-between;
  padding-bottom: 116px;
  margin-bottom: 48px;

  width: $mobile-width;
  min-height: 600px;
  padding-top: 11px;

  background: url("../images/dest/header/background-mobile.jpg") top no-repeat #c3726a;
  background-size: cover;
}

.header__container {
  @include container;
}

.header__top-panel {
  margin-bottom: 11px;
}

.header__title {
  @include column;
  margin: 0;
  margin-bottom: 30px;

  .header__title-first {
    height: 99px;
    margin-left: 5px;

    font-family: "Besom", "Arial", sans-serif;
    font-size: 102px;
    letter-spacing: 4.5px;
    text-shadow: -0.279px 3.99px 7.92px rgba(0, 0, 0, 0.34);
    color: $text-color-colored;
  }

  .header__title-second {
    margin-left: 5px;

    font-family: "Core-95-Black", "Arial", sans-serif;
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 1.9px;
    white-space: nowrap;
    color: $text-color-light;
  }
}
