.header {
  width: $mobile-width;
  min-height: 600px;
  padding-top: 11px;
  margin-bottom: 48px;

  background: url("../images/dest/header/background/mobile.jpg") top no-repeat #c3726a;
  background-size: cover;
}

.header__container {
  @include container;
}

.header__container--link {
  width: $mobile-width;
}

.header__top-panel {
  margin-bottom: 10px;
}

.header__title {
  @include column;

  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;

  .header__title-first {
    height: 99px;
    padding-left: 4px;

    font-family: "Besom", "Arial", sans-serif;
    font-size: 102px;
    letter-spacing: 5px;
    text-shadow: -0.279px 3.99px 7.92px rgba(0, 0, 0, 0.34);
    color: $text-color-colored;
  }

  .header__title-second {
    padding-left: 4px;
    padding-top: 1px;

    font-family: "Core-95-Black", "Arial", sans-serif;
    font-size: 38px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.9px;
    white-space: nowrap;
    color: $text-color-light;
  }
}

.header__link {
  margin: 0 auto;
  margin-top: 43px;
}

/* TABLET */

@media (min-width: $tablet-width) {
  .header {
    width: $tablet-full-width;
    min-height: 602px;
    padding-bottom: 158px;
    margin-bottom: 22px;

    background: url("../images/dest/header/background/tablet.jpg") top no-repeat #c3726a;
  }

  .header__container--link {
    width: $tablet-content-width;
    padding-right: 4px;
  }

  .header__top-panel {
    margin-bottom: 35px;
  }

  .header__title {
    .header__title-first {
      padding-top: 4px;
      padding-left: 5px;

      font-size: 107px;
      letter-spacing: 5.35px;
      line-height: 107px;
    }

    .header__title-second {
      padding-left: 5px;
      padding-top: 1px;

      font-size: 40px;
      letter-spacing: 2px;
    }
  }
}

/* DESKTOP */

@media (min-width: $desktop-width) {
  .header {
    width: 100%;
    min-height: 1006px;

    background: url("../images/dest/header/background/desktop.jpg") no-repeat #c3726a;
    background-size: 1920px 1006px;
    background-position: top center;
  }

  .header__container--link {
    width: $desktop-width;
  }

  .header__top-panel {
    margin-bottom: 96px;
  }

  .header__title {
    align-items: flex-start;

    padding-top: 16px;

    .header__title-first {
      height: 169px;
      padding-left: 0;
      margin-left: -7px;

      font-size: 180px;
      line-height: 180px;
      letter-spacing: 9px;
    }

    .header__title-second {
      padding-bottom: 15px;
      padding-top: 3px;
      padding-left: 4px;

      font-size: 68px;
      line-height: 68px;
      letter-spacing: 3.4px;
    }
  }

  .header__link {
    margin-left: 7px;
    margin-top: 59px;
  }
}
