.instructor {
  margin-bottom: 33px;

  background: url("../images/dest/instructor/background/mobile.png") no-repeat;
  background-size: 320px 584px;
  background-position: top 480px left 0;
}

.instructor__container {
  @include container;
  @include column;
  align-items: stretch;
}

.instructor__title {
  @include sectionHeaderMobile;
  @include resetSpaces;
  width: 320px;
  min-height: 69px;
  padding-left: 7px;
  padding-top: 15px;
  margin-bottom: 40px;

  background: url("../images/dest/instructor/title/mobile.png") no-repeat;
  background-size: 320px 69px;
  background-position: top 0px left 0px;

  text-align: center;
}

.instructor__picture {
  margin-bottom: 15px;
}

.instructor__name {
  @include resetSpaces;
  margin-left: -3px;
  margin-bottom: 32px;

  font-family: "Core-65-Bold", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1.2px;
  text-align: center;
  color: $text-color-colored;
}
