.instructor {
  margin-bottom: 33px;

  background: url("../images/dest/instructor/background/mobile.png") no-repeat;
  background-size: 320px 584px;
  background-position: top 480px left 0;
}

.instructor__container {
  @include container;
  @include column;

  align-items: stretch;
}

.instructor__title {
  @include sectionHeaderMobile;
  @include resetSpaces;

  width: 320px;
  min-height: 69px;
  padding-left: 7px;
  padding-top: 15px;
  margin-bottom: 40px;

  background: url("../images/dest/instructor/title/mobile.png") no-repeat;
  background-size: 320px 69px;
  background-position: top 0px left 0px;

  text-align: center;
}

.instructor__picture {
  margin-bottom: 15px;
}

.instructor__name {
  @include resetSpaces;

  margin-left: -3px;
  margin-bottom: 32px;

  font-family: "Core-65-Bold", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1.2px;
  text-align: center;
  color: $text-color-colored;
}

/* TABLET */

@media (min-width: $tablet-width) {
  .instructor {
    width: $tablet-full-width;
    margin-bottom: 20px;

    background: url("../images/dest/instructor/background/tablet.png") no-repeat;
    background-size: 479px 241px;
    background-position: top 527px left 16px;
  }

  .instructor__title {
    @include sectionHeaderTablet;

    width: $tablet-content-width;
    margin: 0 auto;
    min-height: 90px;
    padding-left: 0;
    padding-top: 18px;
    margin-bottom: 47px;

    background: url("../images/dest/instructor/title/tablet.png") no-repeat;
    background-size: 505px 84px;
    background-position: top 5px left 107px;
  }

  .instructor__picture {
    margin-left: 212px;
  }

  .instructor__name {
    margin-left: 0;
    padding-right: 10px;
  }
}

/* DESKTOP */

@media (min-width: $desktop-width) {
  .instructor {
    width: $desktop-width;
  }
}
