.join {
  width: 320px;
  min-height: 510px;

  background: url("../images/dest/join/background/mobile.jpg") no-repeat;
  background-size: 320px 510px;
  background-position: top;
}

.join__container {
  @include column;

  width: 320px;
  min-height: 510px;
}

.join__title-part {
  @include container;

  padding-top: 140px;
}

.join__title {
  @include column;
  @include resetSpaces;

  align-items: stretch;
  margin-bottom: 52px;
}

.join__accent {
  margin-left: -1px;

  font-family: "Besom", "Arial", sans-serif;
  font-weight: 400;
  font-size: 80px;
  letter-spacing: 4px;
  line-height: 80px;
  text-transform: uppercase;
  color: $text-color-colored;
}

.join__plain {
  margin-top: -3px;
  margin-left: 0.5px;

  font-family: "Core-95-Black", "Arial", sans-serif;
  font-size: 27px;
  letter-spacing: 1.35px;
  line-height: 27px;
  text-transform: uppercase;
  white-space: nowrap;
  color: $text-color-light;
}

.join--first {
  margin-bottom: 42px;
}

.join--second {
  margin-bottom: 51px;
}

/* TABLET */

@media (min-width: $tablet-width) {
  .join {
    width: $tablet-full-width;
    min-height: 369px;

    background: url("../images/dest/join/background/tablet.jpg") no-repeat;
    background-size: 765px 369px;
    background-position: top 2px left 0;
  }

  .join__container {
    flex-direction: row;
    justify-content: space-between;

    width: $tablet-full-width;
    min-height: 369px;
    padding-left: 23px;
    padding-right: 22px;
    padding-top: 18px;
  }

  .join__title-part {
    width: 345px;
    padding-top: 0;
    margin: 0;
  }

  .join__title {
    width: 345px;
    padding-top: 43px;
  }

  .join__accent {
    font-size: 90px;
    letter-spacing: 4.5px;
    line-height: 90px;
  }

  .join__plain {
    margin-left: 1px;

    font-size: 30px;
    letter-spacing: 1.5px;
    line-height: 30px;
  }

  .join--first {
    margin-bottom: 55px;
  }

  .join--second {
    margin-bottom: 70px;
  }
}

/* DESKTOP */

@media (min-width: $desktop-width) {
  .join {
    width: 1920px;
    min-height: 369px;

    background: url("../images/dest/join/background/desktop.jpg") no-repeat;
    background-size: 1920px 369px;
    background-position: top 0px left -1px;
  }

  .join__container {
    @include resetSpaces;

    justify-content: flex-start;

    width: $desktop-width;
    min-height: 369px;
    margin: 0 auto;
  }

  .join__title-part {
    @include resetSpaces;

    width: 840px;
    margin-right: 0;
  }

  .join__title {
    @include resetSpaces;

    flex-direction: row;

    width: 840px;
    min-height: 120px;
    padding-left: 9px;

    .join__accent {
      @include resetSpaces;

      width: auto;
      padding-top: 11px;

      font-size: 120.7px;
      font-weight: 400;
      line-height: 120.7px;
      letter-spacing: 6px;
    }

    .join__plain {
      @include resetSpaces;

      width: auto;
      padding-left: 34px;
      padding-top: 8px;

      font-size: 41.38px;
      font-weight: 900;
      line-height: 49px;
      letter-spacing: 2.069px;
      white-space: normal;
    }

    .join__dektop-nowrap {
      white-space: nowrap;
    }
  }

  .join--first {
    margin-bottom: 90px;
  }
}
