.map {
  width: 320px;
  padding-top: 73px;

  background: url("../images/dest/map/background/mobile.jpg") no-repeat;
  background-size: 320px 99x;
  background-position: top;
}

.map__title {
  @include resetSpaces;
  @include sectionHeaderMobile;
  padding-left: 5px;
  min-height: 100px;

  line-height: 43px;
  text-align: center;

  background: url("../images/dest/map/title/mobile.jpg") no-repeat;
  background-size: 320px 87px;
  background-position: top 8px left 0px;
}

.map__picture {
  width: 320px;
  height: 450px;
}

.map__illustration {
  width: 320px;
  height: 450px;
  margin-top: 20px;
}
