.questions {
  width: 320px;
  min-height: 623px;
  margin-bottom: 62px;

  background: url("../images/dest/questions/background/mobile.jpg") no-repeat;
  background-size: 320px 617x;
  background-position: top;
}

.questions__container {
  @include container;
  padding-top: 97px;
}

.questions__title {
  @include resetSpaces;

  margin-bottom: 17px;
  padding-left: 2px;

  font-family: "Besom", "Arial", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 2.4px;
  color: $text-color-light;
}

.questions__form {
  width: 320px;
}

.questions__fieldset {
  @include resetSpaces;
  border: none;
}

.questions__legend {
  @include resetSpaces;
  margin-left: 15px;
  margin-bottom: 40px;
  padding-left: 1px;

  font-family: "Core-45-Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $text-color-light;
}

.questions__input {
  width: 290px;
  height: 48px;
  margin-bottom: 32px;
  margin-left: 15px;
  padding-left: 25px;
  padding-bottom: 4px;

  border: none;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.102);
  outline: transparent;

  font-family: "Core-45-Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $text-color-light;
}

.questions__input:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.questions__input:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgb(255, 255, 255);
}

.questions__input--tel {
  margin-bottom: 0;
  margin-left: 0;
}

.questions__descr {
  position: relative;
  width: 290px;
  height: 48px;
  margin-bottom: 46px;
  margin-left: 15px;
}

.questions__descr:after{
  content: attr(data-title);
  position: absolute;
  top: -23px;
  left: 45px;
  width: 200px;
  height: 16px;

  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow:0 1px 12px $text-color-light;
  pointer-events: none;
  opacity: 0;

  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: $text-color-light;

  transform: translateY(-20px);
  transition:0.34s linear;
}

.questions__descr:hover:after{
  opacity: 1;
  transform: translateY(0);
}

.questions__submit {
  width: 307px;
  height: 73px;
  padding-top: 0;
  padding-left: 9px;
  padding-bottom: 30px;
  margin-left: 10px;

  border: none;
  cursor: pointer;
  outline: transparent;
}

/* TABLET */

@media (min-width: $tablet-width) {
  .questions {
    width: $tablet-full-width;
    min-height: 638px;
    padding-top: 0;
    margin-bottom: 0;

    background: url("../images/dest/questions/background/tablet.jpg") no-repeat;
    background-size: 765px 638x;
    background-position: top 8px left 0px;
  }

  .questions__container {
    padding-top: 92px;
  }

  .questions__title {
    margin-bottom: 23px;

    font-size: 65px;
    line-height: 65px;
    letter-spacing: 3.25px;
    text-align: center;
  }

  .questions__form {
    width: 375px;
    margin: 0 auto;
  }

  .questions__legend {
    @include resetSpaces;

    padding-left: 6px;
    margin-bottom: 44px;
  }

  .questions__input {
    width: 367px;
    margin-bottom: 22px;
    margin-left: 7px;
  }

  .questions__input--tel {
    margin-bottom: 0;
    margin-left: 0;
  }

  .questions__descr {
    width: 367px;
    margin-bottom: 54px;
    margin-left: 7px;
  }

  .questions__descr:after {
    top: -18px;
    left: 81px;
  }

  .questions__submit {
    width: 360px;
    padding-left: 10px;
  }
}
