.review-list {
  @include resetList;

  display: flex;

  width: 290px;
  min-height: 420px;
  margin-bottom: 39px;

  transition: all ease 1s;
}

.review-list__item {
  @include column;

  flex-shrink: 0;

  width: 290px;
  min-height: 420px;
}

.review-list__picture {
  width: 117px;
  height: 156px;
  margin-left: 1px;
  margin-bottom: 30px;
}

.review-list__illustration {
  width: 117px;
  height: 156px;
}

.reviews-list__container {
  @include column;
}

.review-list__author {
  @include resetSpaces;

  margin-bottom: 23px;

  font-family: "Core-65-Bold", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: $text-color-medium;
  text-align: center;
}

.review-list__text {
  @include resetSpaces;

  height: 145px;
  margin-bottom: 18px;

  font-family: "Core-45-Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $text-color-medium;

  overflow-y: hidden;
}

.review-list__button {
  @include resetSpaces;

  position: relative;

  display: block;
  width: 150px;
  margin-left: -5px;
  margin-bottom: 3px;
  padding-top: 1px;

  font-family: "Core-45-Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: $text-color-medium;

  border: none;
  cursor: pointer;
  outline: transparent;
  background: transparent;

  &::before {
    @include pseudo(151px, 1px, "");

    bottom: -2px;
    left: 1px;

    background: url("../images/dest/review-list/line/sprite-mobile.png") no-repeat;
    background-position: 0px -1px;
  }

  &::after {
    @include pseudo(9px, 6px, "");

    top: 12px;
    right: -3px;

    background: url("../images/dest/review-list/button/sprite-mobile.png") no-repeat;
    background-position: -9px 0px;
  }
}

.review-list__button:hover {
  color: $text-color-colored;

  &::before {
    background-position: 0px 0px;
  }

  &::after {
    background-position: 0px 0px;
  }
}

.review-list__button:active {
  color: $text-color-medium;

  &::before {
    background-position: 0px -1px;
  }

  &::after {
    background-position: -9px 0px;
  }
}

.review-list__button:focus {
  outline: none;
}

.review-list__button:focus-visible {
  text-shadow: $shadow-color-colored;
}

.review-list__button:hover:focus-visible {
  text-shadow: none;
}

/* TABLET */

@media (min-width: $tablet-width) {
  .review-list {
    width: 720px;
    min-height: 250px;
    margin-bottom: 52px;
  }

  .review-list__item {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    width: 720px;
    min-height: 250px;
    padding-left: 41px;
  }

  .review-list__picture {
    @include resetSpaces;

    width: 145px;
    height: 193px;
    margin-top: 19px;
  }

  .review-list__illustration {
    @include resetSpaces;

    width: 145px;
    height: 193px;
  }

  .reviews-list__container {
    align-items: flex-start;

    width: 490px;
    padding-left: 20px;
  }

  .review-list__author {
    margin-top: 17px;
    margin-left: 6px;
  }

  .review-list__text {
    padding-left: 6px;

    text-align: left;
  }

  .review-list__button {
    margin-left: 5px;
  }
}

/* DESKTOP */

@media (min-width: $desktop-width) {
  .review-list {
    @include resetSpaces;
    min-height: 320px;
    width: 1170px;
    margin-bottom: 35px;
  }

  .review-list__item {
    min-height: 320px;
    width: 1170px;
    padding-left: 82.5px;
    padding-right: 82px;
  }

  .review-list__picture,
  .review-list__illustration {
    @include resetSpaces;

    width: 199px;
    height: 265px;
    margin-top: 19px;
  }

  .review-list__picture {
    margin-top: 19px;
    margin-left: 16px;
    margin-right: 23px;
  }

  .review-list__author {
    margin-top: 41px;
    margin-left: 6px;
  }

  .reviews-list__container {
    width: 760px;
  }

  .review-list__text {
    width: 715px;
    height: auto;
    margin-bottom: 9px;
  }
}
