.reviews {
  margin-bottom: 37px;
}

.reviews__container {
  @include container;
}

.reviews__title {
  @include sectionHeaderMobile;
  @include resetSpaces;
  width: 320px;
  min-height: 70px;
  padding-left: 6px;
  padding-top: 12px;
  margin-bottom: 42px;

  background: url("../images/dest/reviews/title/mobile.png") no-repeat;
  background-size: 289px 70px;
  background-position: top 0px left 16px;

  text-align: center;
}

/* TABLET */

@media (min-width: $tablet-width) {
  .reviews {
    margin-bottom: 140px;
  }

  .reviews__container {
    width: $tablet-content-width;
  }

  .reviews__title {
    @include sectionHeaderTablet;
    width: $tablet-full-width;
    min-height: 90px;
    padding-left: 1px;
    padding-top: 12px;
    margin-bottom: 38px;

    background: url("../images/dest/reviews/title/tablet.png") no-repeat;
    background-size: 347px 83px;
    background-position: top 2px left 205px;
  }
}
