.reviews {
  margin-bottom: 37px;
}

.reviews__container {
  @include container;

  overflow: hidden;
}

.reviews__title {
  @include sectionHeaderMobile;
  @include resetSpaces;

  width: 320px;
  min-height: 70px;
  padding-left: 6.5px;
  padding-top: 12px;
  margin-bottom: 42px;

  background: url("../images/dest/reviews/title/mobile.png") no-repeat;
  background-size: 289px 70px;
  background-position: top 0px left 16px;

  text-align: center;
}

/* TABLET */

@media (min-width: $tablet-width) {
  .reviews {
    margin-bottom: 140px;
  }

  .reviews__title {
    @include sectionHeaderTablet;

    width: $tablet-full-width;
    min-height: 90px;
    padding-left: 2px;
    padding-top: 12px;
    margin-bottom: 38px;

    background: url("../images/dest/reviews/title/tablet.png") no-repeat;
    background-size: 347px 83px;
    background-position: top 2px left 205px;
  }
}

/* DESKTOP */

@media (min-width: $desktop-width) {
  .reviews {
    width: $desktop-width;
    margin: 0 auto;
    margin-bottom: 200px;
  }

  .reviews__container {
    @include resetSpaces;

    width: $desktop-width;
  }

  .reviews__title {
    @include resetSpaces;
    @include sectionHeaderDesktop;

    width: $desktop-width;
    min-height: 150px;
    padding-top: 44px;
    margin-bottom: 65px;

    background: url("../images/dest/reviews/title/desktop.png") no-repeat;
    background-size: 519px 124px;
    background-position: top 14px left 319px;
  }
}
