.risk-btn {
  display: block;
  width: 307px;
  height: 73px;
  padding-left: 107px;

  outline: transparent;
  background: url("../images/dest/risk-btn/sprite-mobile.png");
  background-position: 0px -146px;

  font-family: "Core-95-Black", "Arial", sans-serif;
  font-size: 18px;
  line-height: 58px;
  letter-spacing: 0.9px;
  text-decoration: none;
  text-transform: uppercase;
  color: $text-color-light;
}

.risk-btn:hover {
  background-position: 0px -73px;
}

.risk-btn:active {
  padding-top: 1px;
  background-position: 0px 0px;
}

.risk-btn:focus {
  outline: none;
}

.risk-btn:focus-visible {
  outline: dotted $text-color-light;
  background-position: 0px -73px;
}

.risk-btn--programm:focus-visible {
  outline: dotted $text-color-colored;
}

.risk-btn:hover:focus-visible {
  outline: none;
}

.risk-btn--join {
  margin-left: 11px;
  padding-left: 106.5px;
}

.risk-btn--programm {
  margin-left: 8px;
  padding-left: 106px;
}

@media (min-width: $tablet-width) {
  .risk-btn--header {
    padding-left: 106.5px;
  }

  .risk-btn--join {
    margin-top: 157px;
  }

  .risk-btn--questions,
  .risk-btn--modal {
    width: 360px;
    height: 73px;

    background: url("../images/dest/risk-btn/sprite-tablet.png");
    background-position: 0px -146px;
  }
}

/* DESKTOP */

@media (min-width: $desktop-width) {
  .risk-btn--header {
    padding-left: 107px;
  }

  .risk-btn--join {
    margin-left: 0;
    margin-top: 138px;
  }
}
