.risk-btn {
  display: block;
  width: 307px;
  height: 73px;
  padding-left: 107px;

  outline: transparent;
  background: url("../images/dest/risk-btn/sprite-mobile.png");
  background-position: 0px -146px;

  font-family: "Core-95-Black", "Arial", sans-serif;
  font-size: 18px;
  line-height: 58px;
  letter-spacing: 0.9px;
  text-decoration: none;
  text-transform: uppercase;
  color: $text-color-light;
}

.risk-btn:hover {
  background-position: 0px -73px;
}

.risk-btn:active {
  padding-top: 1px;
  background-position: 0px 0px;
}

.risk-btn--header {
  margin-left: 1px;
}

.risk-btn--join {
  margin-left: 8px;
}

.risk-btn--programm {
  margin-left: 8px;
}

@media (min-width: $tablet-width) {
  .risk-btn--header {
    margin-left: -4px;
    padding-left: 106px;
  }

  .risk-btn--join {
    padding-left: 106px;
  }
}
