.short-plan {
  @include resetList;

  display: flex;
  align-items: center;

  min-height: 47px;
  padding-left: 13px;
  padding-top: 1px;
  margin-left: -2px;

  font-family: "Core-95-Black", "Arial", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: $text-color-dark;

  background: url("../images/dest/header/short-plan/background-mobile.png") no-repeat;
  background-size: 205px 40px;
  background-position: left center;
}

.short-plan__item:nth-child(1) {
  margin-right: 62.5px;
}

.short-plan__item:nth-child(2) {
  margin-right: 62px;
}

.short-plan__item:nth-child(3) {
  margin-right: 25px;
}

.short-plan__item:nth-child(4) {
  flex-shrink: 0;

  width: 77px;
  margin-top: 3px;

  font-family: "Core-35-LightIt", "Arial", sans-serif;
  font-size: 14px;
  text-transform: none;
  color: $text-color-light;
}

@media (min-width: $tablet-width) {
  .short-plan {
    width: 320px;
    margin-left: 200px;
    margin-top: -4px;
  }

  .short-plan__item:nth-child(3) {
    margin-right: 45px;
  }

  .short-plan__item:nth-child(4) {
    margin-top: 5px;

    line-height: 17px;
  }
}
