.skills {
  width: 320px;
  min-height: 842px;
  margin-bottom: 48px;

  background: url("../images/dest/skills/background/mobile.png") no-repeat;
  background-size: 107px 842px;
  background-position: top 95px left 0px;
}

.skills__container {
  @include container;
}

.skills__title {
  @include resetSpaces;
  @include sectionHeaderMobile;

  width: 320px;
  min-height: 87px;
  padding-left: 7px;
  margin-bottom: 67px;

  background: url("../images/dest/skills/title/mobile.png") no-repeat;
  background-size: 320px 87px;
  background-position: top 14px left 0px;

  line-height: 43px;
  text-align: center;
}

.skills__list {
  @include resetList;
}

.skills__item {
  font-family: "Core-45-Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $text-color-medium;
}

.skills__nowrap {
  white-space: nowrap;
}

.skills__item:nth-child(1) {
  padding-left: 76px;
  padding-right: 40px;
  margin-bottom: 88px;
}

.skills__item:nth-child(2) {
  padding-left: 99px;
  padding-right: 40px;
  margin-bottom: 64px;
}

.skills__item:nth-child(3) {
  padding-left: 113px;
  margin-bottom: 110px;
}

.skills__item:nth-child(4) {
  padding-left: 91px;
  margin-bottom: 68px;
}

.skills__item:nth-child(5) {
  padding-left: 58px;
  padding-right: 10px;
  margin-bottom: 0;
}

/* TABLET */

@media (min-width: $tablet-width) {
  .skills {
    width: $tablet-full-width;
    min-height: 842px;
    margin-bottom: 40px;

    background: url("../images/dest/skills/background/tablet.jpg") no-repeat;
    background-size: 466px 782px;
    background-position: top 107px left 0px;
  }

  .skills__title {
    @include sectionHeaderTablet;

    width: $tablet-full-width;
    min-height: 105px;
    padding-left: 2px;
    padding-top: 30px;
    margin-bottom: 60px;

    background: url("../images/dest/skills/title/tablet.png") no-repeat;
    background-size: 756px 105px;
    background-position: top -10px left 0px;
  }

  .skills__item:nth-child(1) {
    padding-left: 274.5px;
    padding-right: 275px;
    margin-bottom: 73px;
  }

  .skills__item:nth-child(2) {
    padding-left: 370.5px;
    padding-right: 150px;
    margin-bottom: 72px;
  }

  .skills__item:nth-child(3) {
    padding-left: 442.5px;
    padding-right: 50px;
    margin-bottom: 106px;
  }

  .skills__item:nth-child(4) {
    padding-left: 492.5px;
    margin-bottom: 89px;
  }

  .skills__item:nth-child(5) {
    padding-left: 502px;
    padding-right: 0;
  }
}

/* DESKTOP */

@media (min-width: $desktop-width) {
  .skills {
    width: $desktop-full-width;
    min-height: 1000px;
    margin-bottom: 90px;

    background: url("../images/dest/skills/background/desktop.jpg") no-repeat;
    background-size: 1207px 873px;
    background-position: top 121px left -1px;
  }

  .skills__title {
    @include resetSpaces;
    @include sectionHeaderDesktop;

    width: $desktop-width;
    min-height: 170px;
    margin: 0 auto;
    padding-top: 67px;

    background: url("../images/dest/skills/title/tablet.png") no-repeat;
    background-size: 1150px 157px;
    background-position: top 6px left 2px;
  }

  .skills__container {
    width: $desktop-width;
  }

  .skills__list {
    padding-top: 69px;
  }

  .skills__item:nth-child(1) {
    padding-left: 662px;
    padding-right: 350px;
    margin-bottom: 73px;
  }

  .skills__item:nth-child(2) {
    padding-left: 758px;
    padding-right: 200px;
    margin-bottom: 72px;
  }

  .skills__item:nth-child(3) {
    padding-left: 830px;
    padding-right: 0px;
    margin-bottom: 106px;
  }

  .skills__item:nth-child(4) {
    padding-left: 880px;
    padding-right: 50px;
    margin-bottom: 89px;
  }

  .skills__item:nth-child(5) {
    padding-left: 890px;
    padding-right: 55px;
    margin-bottom: 89px;
  }
}
