.top-panel {
  display: grid;
  grid-template-columns: 58px 80px 152px;
  grid-template-rows: 58px 48px 18px;
  min-height: 124px;
}

.top-panel__picture {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 58px;
  height: 58px;
}

.top-panel__logo {
  width: 58px;
  height: 58px;
  margin-left: -1px;
}

.top-panel__tel {
  grid-column: 3/4;
  grid-row: 1/2;
  height: 52px;

  font-family: "Core-55-Medium", "Arial", sans-serif;
  font-size: 18px;
  line-height: 52px;
  text-decoration: none;
  color: $text-color-light;
}

.top-panel__title {
  grid-column: 1/4;
  grid-row: 3/4;

  margin: 0;
  padding: 0;

  font-family: "Core-45-Regular", "Arial", sans-serif;
  font-size: 16px;
  letter-spacing: 11.2px;
  text-transform: lowercase;
  color: $text-color-light;
}
