.top-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  width: $mobile-content-width;
  height: 124px;
}

.top-panel__picture {
  width: 58px;
  height: 58px;
  margin-left: -1px;
}

.top-panel__logo {
  width: 58px;
  height: 58px;
}

.top-panel__tel {
  width: 152px;
  height: 52px;
  margin-left: -6px;

  font-family: "Core-55-Medium", "Arial", sans-serif;
  font-size: 18px;
  line-height: 52px;
  text-decoration: none;
  color: $text-color-light;
}

.top-panel__tel:hover {
  color: $text-color-colored;
}

.top-panel__tel:focus {
  outline: none;
}

.top-panel__tel:focus-visible {
  outline: dotted $text-color-light;
}

.top-panel__tel:hover:focus-visible {
  outline: none;
}

.top-panel__title {
  @include resetSpaces;

  width: 145px;
  margin-left: -1px;

  font-family: "Core-45-Regular", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 11.2px;
  text-transform: lowercase;
  color: $text-color-light;
}

/* TABLET */

@media (min-width: $tablet-width) {
  .top-panel {
    flex-direction: row;
    flex-wrap: nowrap;

    width: $tablet-content-width;
    height: 60px;
  }

  .top-panel__picture {
    width: 160px;
    margin-left: 2px;
    margin-top: 1px;
  }

  .top-panel__logo {
    width: 160px;
  }

  .top-panel__tel {
    @include resetSpaces;

    margin-top: 1px;
    margin-right: -1px;
  }

  .top-panel__title {
    padding-top: 17px;
    margin-left: -4px;
  }
}

/* DESKTOP */

@media (min-width: $desktop-width) {
  .top-panel {
    width: $desktop-content-width;
    height: 105px;
  }

  .top-panel__picture {
    width: 247px;
    height: 89px;
    margin-left: 2px;
    margin-top: 11px;
  }

  .top-panel__logo {
    width: 247px;
    height: 89px;
  }

  .top-panel__title {
    width: 165px;
    padding-top: 39px;
    margin-left: -40px;

    font-size: 18px;
    letter-spacing: 12.6px;
  }

  .top-panel__tel {
    width: 203px;
    height: 105px;
    padding-top: 38px;

    font-size: 24px;
    line-height: 24px;
  }
}
