.video {
  position: relative;
  width: 292px;
  height: 164px;
  margin: 0 auto;
  margin-bottom: 103px;
}

.video__play {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 109px;
  height: 113px;

  border: none;
  cursor: pointer;
  outline: transparent;
  transform: translateX(-50%) translateY(-50%);

  background: transparent;
  background: url("../images/dest/video/button/sprite-mobile.png") no-repeat;
  background-position: -125px 0px;
}

.video__play:hover {
  width: 125px;
  height: 131px;

  background: url("../images/dest/video/button/sprite-mobile.png") no-repeat;
  background-position: 0px 0px;
}

.video__play:active {
  width: 109px;
  height: 113px;

  background: url("../images/dest/video/button/sprite-mobile.png") no-repeat;
  background-position: -125px 0px;
}

/* TABLET */

@media (min-width: $tablet-width) {
  .video {
    width: 723px;
    height: 407px;
    margin-bottom: 103px;
  }

  .video__play {
    top: 53%;
    left: 50%;
  }
}
