.video {
  position: relative;
  width: 292px;
  height: 164px;
  margin: 0 auto;
  margin-bottom: 103px;
}

.video__play {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 109px;
  height: 113px;

  border: none;
  cursor: pointer;
  outline: transparent;
  transform: translateX(-49.5%) translateY(-49.5%);

  background: transparent;
  background: url("../images/dest/video/button/sprite-mobile.png") no-repeat;
  background-position: -125px 0px;
}

.video__play:hover {
  width: 125px;
  height: 131px;

  background: url("../images/dest/video/button/sprite-mobile.png") no-repeat;
  background-position: 0px 0px;
}

.video__play:active {
  width: 109px;
  height: 113px;

  background: url("../images/dest/video/button/sprite-mobile.png") no-repeat;
  background-position: -125px 0px;
}

.video__play:focus {
  outline: none;
}

.video__play:focus-visible::after {
  @include pseudo(100px, 100px, "");

  top: 0px;
  left: 5px;

  border: 3px dotted $text-color-light;
  border-radius: 50%;
}

.video__play:hover:focus-visible::after {
  display: none;
}

/* TABLET */

@media (min-width: $tablet-width) {
  .video {
    width: 723px;
    height: 407px;
    margin-bottom: 103px;
  }

  .video__play {
    top: 53%;
    left: 50%;

    transform: translateX(-48.5%) translateY(-49.5%);
  }
}

/* DESKTOP */

@media (min-width: $desktop-width) {
  .video {
    width: $desktop-width;
    height: 642px;
    margin-bottom: 103px;
    padding-left: 13px;
  }

  .video__picture,
  .video__illustration {
    width: 1142px;
    height: 642px;
  }

  .video__play {
    top: 52.1%;
    left: 50%;
    transform: translateX(-50%) translateY(-49.5%);
  }
}
