@import "mixins";

$grid-color: rgba(0, 100, 0, 0.2);
$grid-half-column-width: 15px;

.grid {
  width: $mobile-width;
  margin: 0 auto;
}

.grid::before {
  content: "";

  $grid-gutter: 23px;

  position: fixed;
  top: 0;
  bottom: 0;
  width: $mobile-width;
  pointer-events: none;

  @include createGrid($grid-gutter, $grid-color, $grid-half-column-width);
}

@media (min-width: $tablet-width) {
  .grid {
    width: $tablet-width;
  }

  .grid::before {
    $grid-gutter: 32.5px;

    width: $tablet-width;

    @include createGrid($grid-gutter, $grid-color, $grid-half-column-width);
  }
}

@media (min-width: $desktop-width) {
  .grid {
    width: $desktop-width;
  }

  .grid::before {
    $grid-gutter: 67.5px;

    width: $desktop-width;

    @include createGrid($grid-gutter, $grid-color, $grid-half-column-width);
  }
}
