@import "variables";
@import "mixins";

.grid {
  width: $mobile-width;
  margin: 0 auto;
}

.grid::before {
  content: "";

  $grid-gutter: $grid-gutter-mobile;

  position: fixed;
  top: 0;
  bottom: 0;
  margin-left: $grid-margin-left;
  width: $mobile-width;
  pointer-events: none;

  @include createGrid($grid-gutter, $grid-color, $grid-half-column-width);
}

@media (min-width: $tablet-width) {
  .grid,
  .grid::before {
    width: $tablet-width;
  }

  .grid::before {
    $grid-gutter: $grid-gutter-tablet;
    @include createGrid($grid-gutter, $grid-color, $grid-half-column-width);
  }
}

@media (min-width: $desktop-width) {
  .grid,
  .grid::before {
    width: $desktop-width;
  }

  .grid::before {
    $grid-gutter: $grid-gutter-desktop;
    @include createGrid($grid-gutter, $grid-color, $grid-half-column-width);
  }
}
