* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include column;

  position: relative;

  width: $mobile-width;
  min-width: $mobile-width;
  max-width: $desktop-full-width;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  body {
    width: $tablet-full-width;
  }
}

@media (min-width: $desktop-width) {
  body {
    width: 100%;

    overflow-x: hidden;
  }
}
