@font-face{
	font-family: "Besom";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
	src: url("../../fonts/besom/besom.woff2") format("woff2"),
	  url("../../fonts/besom/besom.woff") format('woff');
}

@font-face{
	font-family: "Core-35-Light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
	src: url("../../fonts/core-sans/core-sans-e-35-light.woff2") format("woff2"),
	  url("../../fonts/core-sans/core-sans-e-35-light.woff") format('woff');
}

@font-face{
	font-family: "Core-35-LightIt";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
	src: url("../../fonts/core-sans/core-sans-e-35-light-it.woff2") format("woff2"),
	  url("../../fonts/core-sans/core-sans-e-35-light.woff") format('woff');
}

@font-face{
	font-family: "Core-45-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
	src: url("../../fonts/core-sans/core-sans-e-45-regular.woff2") format("woff2"),
	  url("../../fonts/core-sans/core-sans-e-45-regular.woff") format('woff');
}

@font-face{
	font-family: "Core-55-Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
	src: url("../../fonts/core-sans/core-sans-e-55-medium.woff2") format("woff2"),
	  url("../../fonts/core-sans/core-sans-e-55-medium.woff") format('woff');
}

@font-face{
	font-family: "Core-65-Bold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
	src: url("../../fonts/core-sans/core-sans-e-65-bold.woff2") format("woff2"),
	  url("../../fonts/core-sans/core-sans-e-65-bold.woff") format('woff');
}

@font-face{
	font-family: "Core-85-Heavy";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
	src: url("../../fonts/core-sans/core-sans-e-85-heavy.woff2") format("woff2"),
	  url("../../fonts/core-sans/core-sans-e-85-heavy.woff") format('woff');
}

@font-face{
	font-family: "Core-95-Black";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
	src: url("../../fonts/core-sans/core-sans-e-95-black.woff2") format("woff2"),
	  url("../../fonts/core-sans/core-sans-e-95-black.woff") format('woff');
}
