@font-face{
	font-family: "Besom";
  font-display: swap;
	src: url("../../fonts/besom/besom-webfont.woff2") format("woff2"),
	  url("../../fonts/besom/besom-webfont.woff") format('woff');
}

@font-face{
	font-family: "Core-35-Light";
  font-display: swap;
	src: url("../../fonts/core-sans/coresanse-35light-webfont.woff2") format("woff2"),
	  url("../../fonts/core-sans/coresanse-35light-webfont.woff") format('woff');
}

@font-face{
	font-family: "Core-35-LightIt";
  font-display: swap;
	src: url("../../fonts/core-sans/coresanse-35lightit-webfont.woff2") format("woff2"),
	  url("../../fonts/core-sans/coresanse-35lightit-webfont.woff") format('woff');
}

@font-face{
	font-family: "Core-45-Regular";
  font-display: swap;
	src: url("../../fonts/core-sans/coresanse-45regular-webfont.woff2") format("woff2"),
	  url("../../fonts/core-sans/coresanse-45regular-webfont.woff") format('woff');
}

@font-face{
	font-family: "Core-55-Medium";
  font-display: swap;
	src: url("../../fonts/core-sans/coresanse-55medium-webfont.woff2") format("woff2"),
	  url("../../fonts/core-sans/coresanse-55medium-webfont.woff") format('woff');
}

@font-face{
	font-family: "Core-65-Bold";
  font-display: swap;
	src: url("../../fonts/core-sans/coresanse-65bold-webfont.woff2") format("woff2"),
	  url("../../fonts/core-sans/coresanse-65bold-webfont.woff") format('woff');
}

@font-face{
	font-family: "Core-85-Heavy";
  font-display: swap;
	src: url("../../fonts/core-sans/coresanse-85heavy-webfont.woff2") format("woff2"),
	  url("../../fonts/core-sans/coresanse-85heavy-webfont.woff") format('woff');
}

@font-face{
	font-family: "Core-95-Black";
  font-display: swap;
	src: url("../../fonts/core-sans/coresanse-95black-webfont.woff2") format("woff2"),
	  url("../../fonts/core-sans/coresanse-95black-webfont.woff") format('woff');
}
