@mixin container {
  width: $mobile-content-width;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-content-width;
  }

  /*@media (min-width: $desktop-width) {
    width: $desktop-content-width;
  }*/
}

@mixin resetSpaces {
  margin: 0;
  padding: 0;
}

@mixin column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin sectionHeaderMobile {
  font-family: "Core-95-Black", "Arial", sans-serif;
  font-size: 36px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: $text-color-colored;
}

@mixin resetList {
  @include resetSpaces;
  list-style: none;
}

@mixin pseudo($width, $height, $content) {
  content: $content;
  position: absolute;

  width: $width;
  height: $height;
}

@mixin chainListNumber($content) {
  @include pseudo(auto, auto, $content);
  z-index: 10;

  font-family: "Core-85-Heavy", "Arial", sans-serif;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 24px;
  color: $text-color-light;
}

@mixin programmBefore($content) {
  @include pseudo(auto, auto, $content);
  z-index: 10;

  font-family: "Besom", "Arial", sans-serif;
  font-size: 30px;
  letter-spacing: 0.8px;
  line-height: 30px;
  color: $text-color-colored;
}
