@mixin container {
  width: $mobile-content-width;
  margin: 0 auto;

  /*@media (min-width: $tablet-width) {
    width: $tablet-content-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-content-width;
  }*/
}

@mixin resetSpaces {
  margin: 0;
  padding: 0;
}

@mixin column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin sectionHeader {
  font-family: "Core-95-Black", "Arial", sans-serif;
  font-size: 36px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: $text-color-colored;
}
