$mobile-content-width: 290px;
$tablet-content-width: 720px;
$desktop-content-width: 1140px;

$tablet-full-width: 765px;
$desktop-full-width: 1920px;

$text-color-light: #ffffff;
$text-color-dark: #1b1916;
$text-color-medium: #4c4c4c;
$text-color-colored: #ff0000;
$text-color-footer: #3c313b;

$overlay-color: rgba(0, 0, 0, 0.7);
